<div class="container">
    <mat-card>
        <mat-card-content>
            <h2>What we have:</h2>
            <ul class="stats">
                <li><span>Total:</span><span class="values">{{ statData?.total }}</span></li>
                <li><span>Available books:</span><span class="values">{{ statData?.availableBooks }}</span></li>
                <li><span>Authors:</span><span class="values">{{ statData?.authors }}</span></li>
            </ul>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-actions>
            <a mat-raised-button href="library"><mat-icon>library_books</mat-icon>Library</a>
            <a mat-raised-button routerLink='/library/new'><mat-icon>add</mat-icon>Add new book</a>
        </mat-card-actions>
    </mat-card>
</div>