:host {


    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        &.stats li span {
            display: inline-block;
            width: 15ch;
        }

        &.stats li span.values {
            display: inline-block;
            width: 5ch;
            text-align: right;
        }
    }
}